.stepper__item_type_filled {

}

.stepper__item_type_filled::after {
  border: 2px solid #D4F7E1;
  background-color: #D4F7E1;
  content: url('../../../../images/Vector.svg');
}

.stepper__item_type_filled::before {
  border-left: 2px solid #D4F7E1;
  height: 150px;
}