.stepper__item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  counter-increment: progress;
}

.stepper__item::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 30px;
  left: -26px;
  height: 60px;
  border-left: 2px solid #EAECEF;
}

.stepper__item:last-child::before {
  border-left: none;
}

.stepper__item:not(:last-child) {
  margin-bottom: 29px;
}

.stepper__item::after {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -45px;
  width: 36px;
  height: 36px;
  border: 2px solid #EAECEF;
  border-radius: 50%;
  background-color: #FFF;
  content: counters(progress,".") " ";
  color:#777;
}