@import url('../blocks/stepper/stepper.css');
/* 
.stepper {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.stepper__container {
    position: relative;
    padding-left: 45px;
    list-style: none;
    counter-reset: progress;
    display: flex;
    flex-direction: column;
}

.stepper__item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    counter-increment: progress;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.26px;
    color: #858585;
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 1px 0px;
    line-height: 36px;
}

.stepper__item::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 30px;
    left: -26px;
    height: 60px;
    border-left: 2px solid #EAECEF;
}

.stepper__item:last-child::before {
    border-left: none;
}

.stepper__item:not(:last-child) {
    margin-bottom: 40px;
}

.stepper__item::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -45px;
    width: 36px;
    height: 36px;
    border: 2px solid #EAECEF;
    border-radius: 50%;
    background-color: #FFF;
    content: counters(progress,".") " ";
    color:#777;
}

.stepper__item_type_filled {
    font-weight: 600;
    color: #4C555B;
    border-bottom: 1px solid #858585;
}

.stepper__item_type_filled:hover {
    color: #EB4410;
    border-bottom: 1px solid #EB4410;
    cursor: pointer;
}

.stepper__item_type_filled::after {
    border: 2px solid #D4F7E1;
    background-color: #D4F7E1;
    content: url('../images/Vector.svg');
}

.stepper__item_type_filled::before {
    border-left: 2px solid #D4F7E1;
}

.stepper__item_type_active {
    color: #000;
    font-weight: 600;
}

.stepper__item_type_active::after {
    border: 2px solid #5392F7;
    background-color: #5392F7;
    color:#fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.stepper__item_type_active::before {
    border: 1px solid #5392F7;
}

.stepper__nested-list {
    padding-left: 0;
    padding-top: 23px;
    list-style: none;
}

.stepper__nested-item {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.09px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    align-items: center;
    padding: 4px 12px 4px 40px;
    margin: 0;
    margin-left: -40px;
    background-color: #fff;
    border-radius: 3px;
    width: fit-content;
}

.stepper__nested-item:hover {
    background-color: #F5F6F8;
    cursor: pointer;
}

.stepper__nested-item:focus {
    border: 10px solid #FFC633;
    border-radius: 2px;
}

.stepper__nested-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 14px;
    height: 29px;
    border-left: 2px solid #EAECEF;
}

.stepper__nested-item_type_filled::before {
    border-left: 2px solid #5392F7;
}

.stepper__nested-item::after {
    display: inline-block;
    content: '';
    position: absolute;
    left: 14px;
    height: 4px;
    width: 5px;
    background: #EAECEF;
    border-radius: 1px;
}

.stepper__nested-item_type_filled::after {
    background: #5392F7;
}

.stepper__nested-item:not(:last-child) {
    margin-bottom: 4px;
}

.stepper__nested-item_type_active {
    background-color: #EBF1FB;
    font-weight: 600;
} */
